<div class="top_main_visual">
    <header class="top_header">
        <div class="top_title">
            <%= image_tag "k0257_7.png" %>
            <a class="top_title_name">メイゲン</a>
        </div>
        <div>
            sign in
            sing up
        </div>
    </header>
</div>
<div class="section">
    <span class="scroll">
        <span></span>
    </span>
</div>
<div class="top_sub_visual">
    <h1 class="top_sub_visual_title">名言をシェアしよう。</h1>
    <div class="top_sub_visual_explanation">
        <div class="top_sub_visual_explanation_text">
            <p class="top_sub_visual_explanation_firsttext">あなたの知らない名言に出会える場所。</p>
            <p class="top_sub_visual_explanation_secondtext">あなたの名言を誰かに教える場所。</p>
            <div class="top_sub_visual_explanation_thaadtext"><a href="#">さあ、始めてみよう ＞</a></div>
        </div>
    </div>
    <!--<div class="top_sub_visual_startbutton">-->
    <!--    <a>さあ、始めてみよう ＞</a>-->
    <!--</div>-->
</div>


