<div class="top_mainVisual">
    <header class="top_header">
        <div class="top_title">
            <%= image_tag "k0257_7.png" %>
            <h1 class="top_title_name">メイゲン</h1>
        </div>
        <div>
            sign in
            sing up
        </div>
    </header>
</div>
<div class="section">
    <span class="scroll">
        <span></span>
    </span>
</div>


