/*サインアップ・イン画面全体*/
.sign_up_area,
.sign_in_area{
    height: 100vh;
    background-color: #FFF;
}

/*サインアップ・イン画面ヘッダーエリア*/
.sign_up_area_header,
.sign_in_area_header{
    position:relative;
    height: 200px;
}

.sign_up_area_logo_app_title,
.sign_in_area_logo_app_title{
    position: absolute;
    top: 40px;
    left: 10px
}

/*サインアップ・イン画面タイトル*/
.sign_up_title,
.sign_in_title{
    line-height: 200px;
    text-align: center;   
    font-size: 5rem;
}

/*サインアップ・イン画面ヘッダーロゴ*/
.sign_up_area_header img,
.sign_in_area_header img{
    position: relative;
    left: 10px;
    filter: invert(50%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
}

/*サインアップ・イン画面ヘッダーリンク*/
.sign_up_area_logo_app_title a,
.sign_in_area_logo_app_title a{
    font-size: 3.5rem;
    font-weight: bold;
}

/*サインアップ・イン画面投稿エリア*/
.sign_up_inputarea,
.sign_in_inputarea{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*サインアップ・イン画面投稿フォーム*/
.sign_up_inputarea input[type="text"],
.sign_up_inputarea input[type="email"],
.sign_up_inputarea input[type="password"],
.sign_in_inputarea input[type="text"] ,
.sign_in_inputarea .field input[type="email"],
.sign_in_inputarea input[type="password"]{
    height: 30px;
    width: 350px;
    margin-top: 50px;
    border-right:none;
    border-left:none;
    border-top:none;
    border-bottom: solid 1px #99CCFF;
    font-size: 1.5rem;
    outline: none
}

/*サインアップ・イン画面送信ボタン*/
.sign_up_inputarea input[type="submit"],
.sign_in_inputarea input[type="submit"]{
    width: 350px;
    height: 60px;
    margin-top: 90px;
    border-radius: 10px;
    background-color: #EE9595;
    outline: none;
    border-right:none;
    border-left:none;
    border-top:none;
    border-bottom:none;
    font-size: 2rem;
}